<?xml version = '1.0' encoding = 'UTF-8'?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation =
     "http://java.sun.com/xml/ns/javaee
        http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
      version="3.0">
  <servlet>
    <servlet-name>PizzaStore</servlet-name>
    <servlet-class>servlets.pizzaServlet</servlet-class>
    <init-param>
      <param-name>INDEX_PAGE</param-name>
      <param-value>/index.jsp</param-value>
    </init-param>
    <init-param>
      <param-name>LOGIN_CHECK_PAGE</param-name>
      <param-value>/loginCheck.jsp</param-value>
    </init-param>
    <init-param>
      <param-name>LOGIN_ERROR_PAGE</param-name>
      <param-value>/loginError.jsp</param-value>
    </init-param>
    <init-param>
      <param-name>SHOP_PAGE</param-name>
      <param-value>/shop.jsp</param-value>
    </init-param>
    <init-param>
      <param-name>CHECKOUT_PAGE</param-name>
      <param-value>/checkout.jsp</param-value>
    </init-param>
    <init-param>
      <param-name>THANK_YOU_PAGE</param-name>
      <param-value>/thankYou.jsp</param-value>
    </init-param>
    <init-param>
      <param-name>PROFILE_PAGE</param-name>
      <param-value>/profile.jsp</param-value>
    </init-param>
   <init-param>
      <param-name>MANAGER_PAGE</param-name>
      <param-value>manager.jsp</param-value>
    </init-param>
    <init-param>
      <param-name>EXCEPTION_PAGE</param-name>
      <param-value>exception.jsp</param-value>
    </init-param>
  </servlet>
  
  <login-config>
    <auth-method>FORM</auth-method>
    <form-login-config>
      <form-login-page>/index.jsp</form-login-page>
      <form-error-page>/loginError.jsp</form-error-page>
    </form-login-config>
  </login-config>

  <error-page>
    <exception-type>java.lang.Throwable</exception-type>
    <location>/exception.jsp</location>
  </error-page>
</web-app>
